*{
    margin: 0;
    padding: 0;
}
.calcul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(to right,violet,rgb(98, 89, 166),purple);
}
.calc{
    background-color:transparent;
    height:460px;
    width:340px;
    border-radius: 10px;
    
    border: 2px solid rgb(203, 184, 15);
}
#text{
    width:315px;
    margin-left: 14px;
    margin-top: 10px;
    height:50px;
    font-size: 40px;
    border: none;
    resize:none;
    pointer-events: none;
}
#text1{
    width: 315px;
    height: 50px;
    margin-top:none;
    margin-left: 14px;
    font-size: 40px;
    resize:none;
   text-align: right;
    border: none;
    pointer-events: none;
}
.button{
    height:350px;
}
button{
    background-color: rgb(203, 184, 15);
}
.one{
    width:70px;
    height:50px;
    border-radius:0px;
    border:none;
    font-size: 20px;
    margin-left: 10px;
}
.two{
    width:150px;
    height:50px;
    border:none;
    font-size: 20px;
    margin-left: 10px;
}
button:hover{
    cursor: pointer;
    background-color: yellow;
}